body {
	background: linear-gradient(45deg, #5decff, #ffa074);
}

.container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.error {
	text-align: center;
	color: red;
}

.heading {
	text-align: center;
}

.buttons {
	margin: 3% !important;
	width: 75% !important;
}
